.main{
  width: 10%;
  height: 500px;
  margin:200px auto 0;
}
.counter{
  width: 100%;
  font-size: 30px;
  text-align: center;
}
button{
  width: 70%;
 margin: 10px 0 0 20px;
 border: unset;
 height: 50px;
 font-weight: bold;
 background-color: cornflowerblue;
 border-radius: 10px;
 text-transform: uppercase;
}